In [1]:
import pandas as pd
players = pd.read_csv("data/players.csv", encoding='latin1', index_col=0)

In [2]:
players.head()

           first_name       last_name hand  birth_date country_code
player_id
200001        Martina          Hingis    R  19800930.0          SUI
200002        Mirjana           Lucic    R  19820309.0          CRO
200003        Justine           Henin    R  19820601.0          BEL
200004     Kerry Anne            Guse    R  19721204.0          AUS
200005         Jolene  Watanabe Giltz    R  19680831.0          USA